@import "tailwindcss";


body{
    font-family: "Inter var", sans-serif;
    background-color: #f7f7f7;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
